<!-- <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
          <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="twbs" width="32" height="32"
            class=" flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <p class="mb-0 opacity-75">Hello, how are you today?.</p>
            </div>
          </div>
        </a>


        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
          <img src="https://digital-practice.ams3.cdn.digitaloceanspaces.com/static%2Fapp%2Fimg%2Fopenai-logo.png"
            alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <p class="mb-0 opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </a> -->


          <!-- <p class="lead">
        This project is created for educational purposes and demonstrates the use of ChatGPT API from OpenAI. To get
        started you will need the following:
      </p> -->
        <!-- <ul>
      <li>OpenAI API Key, which you can get here: <a href="https://openai.com/product#made-for-developers">OpenAI Website</a></li>
    </ul> -->