@font-face {
    font-family:"chatbot" ;
    src: url(../font/main.woff2) format('woff2');
}




body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 30px);
    width: 600px;
    max-height: 90%;
}



.header {
    display: flex;
    align-items: center;
    margin: -20px 14px 14px 14px;
    color: var(--accent-color);
}

.header .avatar {
    /* background-color: var(--accent-color); */
    align-self: center;
    padding: 5px;
    width: 50px;
    /* border-radius: 50%; */
}


.header h3 {
    margin-left: 20px;
    color: #6c2bd9;
    margin-right: auto;
    /* font-size: 3rem; */
}

.header i {
    margin: 0 10px;
}


#list-group {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.input-group {
    flex-wrap: nowrap;
    width: 95% !important;
    display: flex;
    background-color: #eee;
    color: var(--accent-color);
    font-family: inherit;
    border: 0;
    border-radius: 50px;
    padding: 5px 5px;
    margin: 12px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: scale 0.2s ease;
}

#gpt-button {
    display: flex;
    background-color: #eee;
    color: #6c2bd9;
    font-family: inherit;
    border: 0;
    /* border-radius: 57px; */
    padding: 0px 9px;
    /* margin: 3px; */
    font-size: 23px;
    cursor: pointer;
    transition: scale 0.2s ease;
}

#chat-input {
    display: flex;
    background-color: #eee;
    color: var(--accent-color);
    font-family: inherit;
    border: 0;
    border-radius: 50px;
    /* padding: 14px 40px;
    margin: 20px; */
    color: #6c2bd9;
    font-size: 16px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: scale 0.2s ease;
}


#gpt-button i {
    margin-left: auto;
}

#gpt-button:focus {
    outline: none;
}

#gpt-button:hover {
    scale: 1.01;
}

#gpt-button:active {
    scale: 0.99;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 5px;
}

/*=============== MEDIA QUERY ===============*/

@media screen and (max-width: 650px) {
.container {
max-height: 100%;
        height:85vh;
        width: 75vh;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0px;
        /* max-height: 100%; */
        height: 92vh;
        width: 50vh;
        overflow-y: hidden;
        border-radius: 0;

    }
    .input-group {
    margin: 12px 7px;
    }
    body {
        height: auto;
        margin: 0;
    }
}

.btn-sub {
    display: flex;
    background-color: #eee;
    color: #6c2bd9;
    font-family: inherit;
    border: 0;
    border-radius: 57px;
    padding: 0px 0px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: scale 0.2s ease;
}


#chat-input:focus {
    outline: none;
    box-shadow: none;
}

a.list-group-item.list-group-item-action.d-flex.gap-3 {border: none;}

img.flex-shrink-0 {
    width: 50px;
    height: 50px;
}


video {
    height: 100%;
    width: 17%;
}